{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block title %}Food Delivery In University{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="row">
  <div class="col-md-8">
    <div class="text-center">
      <div style="margin-top: 10%;">
        Welcome, {{ user.first_name }}!
      </div><br><br>
      <a href="{% url 'request-create' %}" class="btn btn-success">Request a delivery</a>
      <a href="{% url 'request-list' %}" class="btn btn-info">List of requests</a>
      <a href="{% url 'delivery-list' %}" class="btn btn-warning">My Deliveries</a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="text-center">
      <img src="{% static 'images/homepage_photo.jpg' %}" class="img-fluid rounded">
    </div>
  </div>
</div>
{% else %}
<div class="row">
  <div class="col-md-8">
    <div class="text-center">
      This is a way of better food delivery in University.
    </div>
  </div>
  <div class="col-md-4">
    <div class="text-center">
      <img src="{% static 'images/homepage_photo.jpg' %}" class="img-fluid rounded">
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
