{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block title %}Deliveries{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h2>Deliveries</h2>
        <table class="table">
            <thead>
            <tr>
              <th>Request</th>
              <th>Delivered On</th>
              <th>Delivered By</th>
            </tr>
            </thead>
        
            <tbody>
            {% for delivery in deliveries %}
                <tr>
                    <td>{{ delivery.request }}</td>
                    <td>{{ delivery.delivered_at }}</td>  
                    <td>{{ delivery.delivered_by }}</td>
                    <td><a href="{% url 'delivery-complete' delivery.id %}" class="btn btn-success">Complete</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
    </div>
</div>
{% endblock %}
