{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block title %}Create Delivery{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h2>Create Delivery</h2>
        <form method="post" class="form-horizontal">
        {% csrf_token %} 
        {% bootstrap_form form %}
        
        <button type="submit" class="btn btn-success">Create</button>
        
        <p><a href="{% url 'delivery-list' %}">Deliveries</a></p>
        </form>
    </div>
    <div class="col-md-4"></div>
</div>
{% endblock %}
